<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>OpenDoPE</display-name>
	
<!-- 	
<filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
</filter>	
	  -->
  
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.opendope.webapp</param-value>
		</init-param>

		<init-param>
			<param-name>HtmlImageTargetUri</param-name>
			<param-value>/OpenDoPE-simple/</param-value>
		</init-param>
		<init-param>
			<param-name>HtmlImageDirPath</param-name>
			<param-value>/apache-tomcat-7.0.20/webapps/OpenDoPE-simple/</param-value>
		</init-param>
		<init-param>
			<param-name>HyperlinkStyleId</param-name>
			<param-value>Hyperlink</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
<!-- 	
	<filter-mapping>
	    <filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/service/*</url-pattern>
	</filter-mapping>
	  -->
</web-app>
